#map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.control-padding {
    padding: 4px 7px;
}

.control-bigfont {
    font-size: 110%;
}

.control-button {
    cursor: pointer;
}

.float-right {
    float: right;
}

#right {
    background-color: #fee2fe;
}

#left {
    background-color: lightcyan;
}

#middle {
    background-color: lightgreen;
}

::placeholder {
    color: gainsboro;
}

img.sign {
    margin: 2px;
}

symb-icon {
    font-size: 140%;
}

select,
input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

.cut-icon {
    background: #fffc7e;
    color: black;
    border-radius: 50%;
    line-height: 5px;
    border: 2px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}

#legend_more {
    display: none;
}

#legend {
    max-width: 400px;
    overflow: auto;
    max-height: 400px;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.jungle-logo {
    position: absolute;
    z-index: 412;
    bottom: 12px;
    right: 0;
    padding: 10px;
    opacity: 0.95;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}